@use '../variables' as *;
@use '../mixins' as *;

.container {
  width: 100%;
  max-width: $bp-desktop;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;

  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
