@use '../variables' as *;
@use '../mixins' as *;

.nav__list {
  display: flex;
  gap: 56px;
  align-items: center;
  font-size: 18px;

  @include mobile {
    display: none;
  }
}
@include mobile {
  .nav__list--open {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: $color-bg;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 0;
    align-items: stretch;

    & .nav__item {
      width: 100%;
      border-top: 1px solid $color-accent;
    }

    & .nav__link {
      width: 100%;
      padding: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.nav__link {
  @include gradient-shift;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  &:hover {
    @include gradient-shift-active;
  }
}

.nav__link--icon {
  display: flex;
}

.cart__icon {
  @include gradient-icon(24px, 20px);

  .nav__link:hover & {
    @include gradient-shift-active;
  }
}

.nav__button {
  display: none;

  @include mobile {
    display: inline-flex;
  }
}
