@use '../variables' as *;
@use '../mixins' as *;

.offers {
  padding-top: 40px;
  padding-bottom: 60px;
}

.offers__title {
  font-size: 32px;
  margin-bottom: 50px;
}

.offers__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include tablet {
    gap: 30px;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.offers__item--wide {
  grid-column: span 2;

  @include tablet {
    grid-column: span 1;
  }
}
