@use 'variables' as *;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}

.brand {
  color: $color-brand;
}

.accent {
  color: $color-accent;
}
